html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

a {
  text-decoration: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  font-family: "Jost", sans-serif !important;
}

.hero-btn {
  border: 1px solid #65C9BB;
  background-color: #65C9BB;
}

.btn-1 {
  padding: 17px 24px;
  color: #fff;
  text-transform: capitalize;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  font-weight: 600;
  transition: all 0.4s;
}
.btn-1:hover {
  background: transparent;
}

.red-btn {
  border: 1px solid #F15B43;
  background-color: #F15B43;
}
.red-btn:hover {
  color: #F15B43;
}

.red-border-btn {
  border: 1px solid #F15B43;
  color: #F15B43;
}
.red-border-btn:hover {
  background-color: #F15B43;
  color: #fff;
}

.container-X {
  padding-left: 5rem;
  padding-right: 5rem;
}

.container-Y {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.bg-section {
  background-color: #FCF2EB;
}

.w-35 {
  width: 35%;
}

.w-80 {
  width: 80%;
}

section {
  overflow: hidden;
}

.section-text {
  font-size: 16px;
  line-height: 22px;
  color: #777777;
}

@media screen and (max-width: 992px) {
  .w-80 {
    width: 100%;
  }
  .w-35 {
    width: 100%;
  }
  .container-X {
    padding-left: 3rem;
    padding-right: 3rem;
  }
  .container-Y {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}
#home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-size: cover;
  color: #fff;
  background-image: url("/assets/images/h1_hero1.jpg.webp");
}
#home .hero-caption {
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
#home .hero-caption h1 {
  font-size: 48px;
  font-weight: 900;
}
#home .hero-caption P {
  font-size: 18px;
  line-height: 26px;
}
#home .hero-caption a {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

#about-area1 {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}
#about-area1 .about-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}
#about-area1 .about-content span {
  color: #65C9BB;
}
#about-area1 .about-content h2 {
  color: #263B5C;
  font-size: 42px;
  line-height: 54px;
  font-weight: 500;
}

#cards .card-body {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #F4F2F1;
  color: #263B5C;
}
#cards .card-body h2 {
  font-weight: 600;
  font-size: 1.2rem;
}
#cards .card-body p {
  font-size: 14px;
}
#cards .card-body .col p {
  color: #65C9BB;
  font-weight: 600;
}
#cards .card-body .col span {
  font-size: 12px;
}
#cards .card-body .btn-1 {
  padding: 13px 40px;
}

@media screen and (max-width: 992px) {
  #home .hero-caption h1 {
    font-size: 48px;
  }
}/*# sourceMappingURL=style.css.map */