// Start Home
#home {
  @include flex-center;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  color: $t-light;
  background-image: url("/assets/images/h1_hero1.jpg.webp");

  .hero-caption {
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    row-gap: 20px;

    h1 {
      font-size: 48px;
      font-weight: 900;
    }

    P {
      font-size: 18px;
      line-height: 26px;
    }

    a {
      width: max-content;
    }
  }
}

// Start Section About Area 1
#about-area1 {
  height: max-content;

  .about-content {
    @include flex-center;
    gap: 20px;

    span {
      color: $t-green;
    }

    h2 {
      color: #263b5c;
      font-size: 42px;
      line-height: 54px;
      font-weight: 500;
    }

    //    p{
    //     font-size: 16px;
    //     line-height: 22px;
    //     color: #777777;
    //    }
  }
}

// Start Section Cards
#cards {
  .card-body {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #f4f2f1;
    color: #263b5c;

    h2 {
      font-weight: 600;
      font-size: 1.2rem;
    }

    p {
      font-size: 14px;
    }

    .col {
      p {
        color: $t-green;
        font-weight: 600;
      }

      span {
        font-size: 12px;
      }
    }

    .btn-1 {
      padding: 13px 40px;
    }
  }
}

// Start Section Services
#services {
  width: 100%;
  height: max-content;
  background-image: url("/assets/images/section-bg1.jpg.webp");
  background-attachment: fixed;

  .services-card {
    @include flex-center;
    align-items: center;
    text-align: center;
    font-family: $Rubik;

    .services-content {
      h5 {
        margin: 1rem 0;

        a {
          color: $t-light;
          font-size: 24px;
          font-weight: 600;
        }
      }

      p {
        line-height: 30px;
        font-weight: 500;
      }
    }
  }

  .section-title {
    h2 {
      font-size: 40px;
    }

    p {
      font-family: $Rubik;
    }
  }
}

// Start Section Blog
#blog {
  width: 100%;
  height: max-content;

}

// Start Scroll Up
.scrollUp {
  width: 50px;
  height: 50px;
  line-height: 50px;
  position: fixed;
  top: 90%;
  left: 95%;
  background-color: $t-green;
  font-weight: 600;
  font-size: 16px;
  text-align: center;
  border-radius: 50%;
  z-index: 555;

  a {
    color: $t-light;
  }
}

// Start Swiper Slider


.mySwiper {
  .card-body{
    background-color: #F4F2F1;
    h4{
      color: #263b5c;
      font-weight: 600;
    }
    P{
      font-weight: 500;
    }
  }
  .browse-btn {
    display: inline-block;
    color: $t-red;
    border-bottom: 2px solid $t-red;
    padding-bottom: 10px;
    font-weight: 600;
    transition: all 0.4s;
    &:hover{
      letter-spacing: 1px;
    }
  }
}
.swiper-button-next{
  // left: 5% !important;
  right: 95% !important;
  left: auto;
  background-color: aqua;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {
  #home .hero-caption {
    h1 {
      font-size: 42px;
    }
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (max-width: 1200px) {}